.registrashion-items{
    display: flex;
    align-items: center;
    padding-top: 30px;
    width: 1180px;
    padding-bottom:40px ;
    
}

.registrashion-items-1{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
border: 1px solid rgba(230, 230, 230, 0.2);
border-radius: 8px;
    width: 590px;
    height: 660px;
}

.registrashion-items-2{
    background-color: #FDF2D8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 590px;
    justify-content: center;
    height: 660px;
    border: 1px solid rgba(230, 230, 230, 0.2);
border-radius: 8px;
}


.registrashion-items-1-text-1{
    font-family: 'Circe Rounded';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 40px;
text-align: center;
letter-spacing: 0.01em;
color: #4E2D2D;
text-align: center;
margin-top: 40px;
}

.registrashion-items-2-text-1{
    font-family: 'Circe Rounded';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #4E2D2D;
    text-align: center;
}

#login-field-text{
    font-family: 'Circe Rounded';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #292929;
padding-left: 55px;
margin-top: 80px;
}

#login-field{
    background: #FFFFFF;
border: 1px solid #E6E6E6;
border-radius: 6px;
width:480px;
height:48px;
margin-left: 55px;
}

#password-field-text{
    font-family: 'Circe Rounded';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #292929;
    padding-left: 55px;
    padding-top: 5px;
}

#password-field{
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    width:480px;
    height:48px;
    margin-left: 55px;
}

.submit{
    width: 480px;
height: 48px;
background: #FD9339;
border-radius: 5px;
border: none;
margin-left: 55px;
transform-style: preserve-3d;

}
hr{
    border: 1px solid #E6E6E6;
}

.registrashion-or{
    display: flex;
    align-items: center;
}
.registrashion-or-text{
    font-family: 'Circe Rounded';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #808080;
opacity: 0.5;
}
.line1{
    margin-left: 55px;
}
.registrashion-or-text{
    margin: 14px 10px 14px 10px;
}

.soc-seti{
display: flex;
margin-left:170px;
}
.soc-seti img{
 max-width: 36px;
 margin-right: 5px;
}
.soc-seti img:hover{
    transform: rotateZ(90deg);
}

.registrashion-items-2-text-2{
    font-family: 'Circe Rounded';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #292929;
}

.registration-button{
    border: 1px solid #FD9339;
border-radius: 5px;
font-family: 'Circe Rounded';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #FD9339;
background: none;
width: 240px;
height: 48px;
margin-top: 40px;
cursor: pointer;
transform: skew(10deg, 10deg);
}

.not-know-password {
margin-top: 80px;

margin-left:220px;
}

.not-know-password a{
    font-family: 'Circe Rounded';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #FD9339;
}